.Grid{
  @import '../../styles/variables/base';
  @import '../../styles/mixins/base';

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;

  .Tile{
    max-width: 300px;

    @include breakpoint('xs') {
       max-width: 200px;
    }

    @include breakpoint('sm') {
       max-width: 240px;
    }
  }
}
