.Tile{
  background: #666666;
  color: #fff;
  border-radius: 4px;

  .img{
    position: relative;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #fff;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .logo{
    background: #fff;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    bottom: -20px;
    right: 14px;
    img{
      border-radius: 4px;
    }
  }

  .offer-details{
    display: flex;
    flex-direction: column;
    padding: 14px;
    justify-content: space-between;
    flex: 1;
    min-height: 180px;

    .header{
      display: flex;
      justify-content: space-between;
      margin: 6px 0 0 0;

      h2{
        margin: 0;
      }

      .callout{
        margin: 6px 0 0 0;
        text-align: center;
        color: #e99220;
        min-width: 80px;
        margin-left: 10px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .title{
      margin: 5px 0;
    }

    .footer{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .statistics{
        font-size: 14px;
        margin: 20px 0 0 0;
        color: #aaa;
      }
      .link{
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        background: #53a319;
        color: white;
        padding: 6px;
        border-radius: 4px;
        width: 100px;
        margin-top: 20px;
        border: none;
        cursor: pointer;
      }
    }
  }

}
