.Tile{
  background: #666666;
  color: #fff;
  border-radius: 4px;

  .content{
    display: flex;
    flex-direction: column;
    padding: 10px;

    > *{
      flex: 1;
    }
  }
  .img{
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #fff;
    height: 200px;
    width: 100%;
    overflow: hidden;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;

    h2{
      margin: 0;
    }

    .callout{
      margin: 0;
      text-align: center;
      color: #e99220;
      min-width: 80px;
      margin-left: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .title{
    margin: 5px 0;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .statistics{
      font-size: 14px;
      margin: 20px 0 0 0;
      color: #aaa;
    }
    .link{
      margin-top: 10px;
      background: #53a319;
      color: white;
      padding: 5px;
      border-radius: 4px;
      width: 100px;
      margin-top: 20px;
      border: none;
      cursor: pointer;
    }
  }
}
