/* -----------------------------------
 *
 * Container
 *
 * -------------------------------- */

.container {
   margin: 0 auto;
   padding: 40px 20px 80px 20px;
   box-sizing: border-box;

   @include breakpoint('md') {
      max-width: $screen-md - 100px;
   }

   @include breakpoint('lg') {
      max-width: $screen-lg - 100px;
   }

   @include breakpoint('xl') {
      max-width: $screen-xl - 100px;
   }
}
